
<style>

		
		body{font-size:22px}
		
</style>


<br>
<h2>Welcome to patrologia.graeca.tk</h2><br>
This is a simple tool in order to search for specific combination of words in Patrologia Graeca.<br>

The site is <b>UPDATED</b> after some suggestions in order to search <b>ALL THE TEXTS</b> in Migne Patrologia Graeca in one click, however the search takes time. <br>
<br>
The search is case and tonic sensitive, <b>Ναρσῆς</b> will return results but   
<b>ναρσης</b> will not. Please wait untill the search is done after clicking the submit button once. The search is done in real time, there is no index e.t.c
<br>
<br>
The returned text has the line number of the findings and the specific book which was found. Use the back button of your browser in order not to search again the same words after digging into the text<br>
<br>
Remember to have set unicode encoding to your browser, also enable javascript.<br>
<br>
feel free to comment or to advise things about this tool to the following email: <b>evagelosvar@gmail.com</b><br>
Thank you.
<br><br>
*for some people that asked me, the complete digitised patrologia graeca as pdf files can be found temporarily (the speed is a little slow, so please wait a little until the folders appear) in this link <a target="_blank" href="https://mega.nz/#F!HRViGRLa!6adnoTFzjYRxrqD1ovieJA">patrologia graeca</a>. You can preview and download as zip whatever file you would like.
