<h2>Welcome to patrologia.graeca.tk</h2><br>
This is a simple tool in order to search for specific combination of words in Patrologia Graeca.<br>
The search is done in atonic Greek and the results are returned in atonic Greek.<br>
The search needs at least three greek characters and is done for all the writings of a specific author.<br>
The returned text has the line number of the findings and the specific book which was found. <br>
You can check for more details to the complete text of the author on the right list.<br>
Remember to have set unicode encoding to your browser, also enable javascript.<br>
<br>
feel free to comment or to advise things about this tool to the following email: <b>evagelosvar@gmail.com</b><br>
Thank you.
<br><br>
*for some people that asked me, the complete digitised patrologia graeca as pdf files can be found temporarily (the speed is a little slow, so please wait a little until the folders appear) in this link <a target="_blank" href="https://mega.nz/#F!HRViGRLa!6adnoTFzjYRxrqD1ovieJA">patrologia graeca</a>. You can preview and download as zip whatever file you would like.
