<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MIGNE PATROLOGIA GRAECA Search Tool</title>

<style>
	
	xbody{ 
		
	margin-top: 10px;
    margin-right: 25%;
    margin-left: 25%;
		 
		}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85127901-1', 'auto');
  ga('send', 'pageview');

</script>
</head>


<img class="logo" src="key5.png" alt="key.png"   > 
<h1>MIGNE PATROLOGIA GRAECA</h1>
<a href="home/home.html"  target="SHOW"  >home</a> 

<a href="/pCloudDrive/uploads/data/ancient-pgm" target="SHOW"  >authors</a>
<br><br>

<iframe id='mykeyboard' src="keyboard.sh" name="keyboard" scrolling="no" frameBorder="0" style="width: 100%; height: 300px">
	
	</iframe>
<iframe id='myframe' src="home/home.html" name="SHOW" scrolling="no" frameBorder="0" style="width: 100%; height: 11111px">
	</iframe>
