<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MIGNE PATROLOGIA GRAECA Search Tool</title>

<style>
	
	xbody{ 
		
	margin-top: 10px;
    margin-right: 25%;
    margin-left: 25%;
		 
		}
		
		body{font-size:22px}
		
		span:hover{
		border-style: ridge;
		border-color: coral;
		/*border-width: thin;*/	
			
			
		}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85127901-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<div id="divchar" style="text-align: center;font-size:100;border-style: solid;border-color: coral;float:right;height:150px; width:150px;">
    α</div>	
<h1><img class="logo" src="key5.png" alt="key.png"  width=36px height=auto > 
MIGNE PATROLOGIA GRAECA</h1>
<h3>Search tool</h3>
<a href="home/home.html"  target="SHOW"  >home</a> 

<a href="../ancient-pgm" target="_blank"  >authors</a>

<a href="http://patrologia.graeca.tk/hta/searchindexcaddy.html" target="_blank"  >old site</a>
<br>
<br>
<form action="../enginebible.sh" method="get" target="SHOW">
  Search word: <input type="text" name="sword" id="sword">
  

<select name='sauthor'>
<option  value='ALL'>ALL</option>	
<option  value='Agathias Scholasticus Myrinaeus,Constantinopolitanus_PG 88'>Agathias Scholasticus Myrinaeus,Constantinopolitanus_PG 88</option>
<option  value='Alexander Lycopolitanus_PG 18'>Alexander Lycopolitanus_PG 18</option>
<option  value='Alexander Monachus_PG 87c'>Alexander Monachus_PG 87c</option>
<option  value='Ammonius_PG 85'>Ammonius_PG 85</option>
<option  value='Amphilochius Iconiensis_PG 39'>Amphilochius Iconiensis_PG 39</option>
<option  value='Anna Komnena_PG 131'>Anna Komnena_PG 131</option>
<option  value='Anonymous_PG 105,111,117,149,158'>Anonymous_PG 105,111,117,149,158</option>
<option  value='Antonius Hagiographus_PG 86B'>Antonius Hagiographus_PG 86B</option>
<option  value='Apollinaris of Laodicea_PG33'>Apollinaris of Laodicea_PG33</option>
<option  value='Arethas Bishop of Caesarea in Cappadokia_PG 106'>Arethas Bishop of Caesarea in Cappadokia_PG 106</option>
<option  value='Aristides Atheniensis_PG 05'>Aristides Atheniensis_PG 05</option>
<option  value='Aristonis Pelloi_PG 05'>Aristonis Pelloi_PG 05</option>
<option  value='Asterius Amasenus_PG 40'>Asterius Amasenus_PG 40</option>
<option  value='Athanasius the Great of Alexandria_ PG 25-28'>Athanasius the Great of Alexandria_ PG 25-28</option>
<option  value='Athenagoras_PG 06'>Athenagoras_PG 06</option>
<option  value='Barnabas_PG 02'>Barnabas_PG 02</option>
<option  value='Basilius Caesariensis_PG 29-32'>Basilius Caesariensis_PG 29-32</option>
<option  value='Chronicon Paschale_PG 92'>Chronicon Paschale_PG 92</option>
<option  value='Clement of Rome_PG 01-02'>Clement of Rome_PG 01-02</option>
<option  value='Constantinus Manassis_PG 127'>Constantinus Manassis_PG 127</option>
<option  value='Constantinus Porphyrogenitus_PG 112-113'>Constantinus Porphyrogenitus_PG 112-113</option>
<option  value='Constitutiones Apostolorum_PG 01'>Constitutiones Apostolorum_PG 01</option>
<option  value='Cosmas Indicopleustis_PG 88'>Cosmas Indicopleustis_PG 88</option>
<option  value='Cyril of Alexandria_PG 68-77'>Cyril of Alexandria_PG 68-77</option>
<option  value='Cyrillus Hierosolymitanus_PG 33'>Cyrillus Hierosolymitanus_PG 33</option>
<option  value='Didymus the Blind_PG 39'>Didymus the Blind_PG 39</option>
<option  value='Diodorus of Tarsus_PG 33'>Diodorus of Tarsus_PG 33</option>
<option  value='Dionysius Aeropagita_PG 03-04'>Dionysius Aeropagita_PG 03-04</option>
<option  value='Epiphanius_PG 41-43'>Epiphanius_PG 41-43</option>
<option  value='Epistle to Diognetus_PG 02'>Epistle to Diognetus_PG 02</option>
<option  value='Eudokia Augousta_PG 85'>Eudokia Augousta_PG 85</option>
<option  value='Eunapius Sardianus_PG 113'>Eunapius Sardianus_PG 113</option>
<option  value='Eusebius Caesariensis_PG 19-24'>Eusebius Caesariensis_PG 19-24</option>
<option  value='Eusebius of Emesenus_PG 86A'>Eusebius of Emesenus_PG 86A</option>
<option  value='Eustathius Antiochiensis_PG 18'>Eustathius Antiochiensis_PG 18</option>
<option  value='Eustathius Thessalonicensis_PG 135,136'>Eustathius Thessalonicensis_PG 135,136</option>
<option  value='Evagrius Ponticus_PG 40'>Evagrius Ponticus_PG 40</option>
<option  value='Gaius Romanus_PG 10'>Gaius Romanus_PG 10</option>
<option  value='Georges Pisides_ PG 92'>Georges Pisides_ PG 92</option>
<option  value='Georgius Acropolita_PG 140'>Georgius Acropolita_PG 140</option>
<option  value='Georgius Cedrenus_PG 121-122'>Georgius Cedrenus_PG 121-122</option>
<option  value='Georgius Choeroboscus Constantinopolitanus_PG 86'>Georgius Choeroboscus Constantinopolitanus_PG 86</option>
<option  value='Georgius Codinus_PG 157'>Georgius Codinus_PG 157</option>
<option  value='Georgius Hamartolus_PG 110'>Georgius Hamartolus_PG 110</option>
<option  value='Georgius Monachus Constinuatus_PG 117'>Georgius Monachus Constinuatus_PG 117</option>
<option  value='Georgius Pachymeres_PG 143-144'>Georgius Pachymeres_PG 143-144</option>
<option  value='Georgius Peccator_PG 66'>Georgius Peccator_PG 66</option>
<option  value='Georgius Phrantza_PG 156'>Georgius Phrantza_PG 156</option>
<option  value='Georgius Syncellus Constantinopolitanus_PG 110'>Georgius Syncellus Constantinopolitanus_PG 110</option>
<option  value='Gregorius Cyprius_PG 142'>Gregorius Cyprius_PG 142</option>
<option  value='Gregorius Palamas Thessalonicensis Metropolita_PG 150-151'>Gregorius Palamas Thessalonicensis Metropolita_PG 150-151</option>
<option  value='Gregorius Palamas_PG 150-151'>Gregorius Palamas_PG 150-151</option>
<option  value='Gregory Thaumaturgus_PG 10'>Gregory Thaumaturgus_PG 10</option>
<option  value='Gregory of Nazianzus_PG 35-38'>Gregory of Nazianzus_PG 35-38</option>
<option  value='Gregory of Nyssa_PG 44-46'>Gregory of Nyssa_PG 44-46</option>
<option  value='Hegesippus_PG 05'>Hegesippus_PG 05</option>
<option  value='Hermias Sozomenos_PG 67'>Hermias Sozomenos_PG 67</option>
<option  value='Hermias philosophus_PG 06'>Hermias philosophus_PG 06</option>
<option  value='Hesychius_PG 93'>Hesychius_PG 93</option>
<option  value='Hippolytus_PG 10'>Hippolytus_PG 10</option>
<option  value='Ignatius of Antioch_PG 05'>Ignatius of Antioch_PG 05</option>
<option  value='Ioannes Cantacuzenus_PG 153-154'>Ioannes Cantacuzenus_PG 153-154</option>
<option  value='Ioannes Zonaras_PG 134-135'>Ioannes Zonaras_PG 134-135</option>
<option  value='Irenaeus Lugdunensis_PG 07'>Irenaeus Lugdunensis_PG 07</option>
<option  value='Iustinus_PG 06'>Iustinus_PG 06</option>
<option  value='Joannes Anagnosta_PG 156'>Joannes Anagnosta_PG 156</option>
<option  value='Joannes Argyropoulos_PG 158'>Joannes Argyropoulos_PG 158</option>
<option  value='Joannes Cameniates_PG 109'>Joannes Cameniates_PG 109</option>
<option  value='Joannes Cananus_PG 156'>Joannes Cananus_PG 156</option>
<option  value='Joannes Cinnamus_PG 133'>Joannes Cinnamus_PG 133</option>
<option  value='Joannes Lydus Laurentius_PG 85'>Joannes Lydus Laurentius_PG 85</option>
<option  value='Joannis Presbyter_PG 120'>Joannis Presbyter_PG 120</option>
<option  value='Joannis Scylitzae_PG 121-122'>Joannis Scylitzae_PG 121-122</option>
<option  value='Joel Chronographus_PG 139'>Joel Chronographus_PG 139</option>
<option  value='John Chrysostom_PG 47-64'>John Chrysostom_PG 47-64</option>
<option  value='John Malalas_PG 97'>John Malalas_PG 97</option>
<option  value='John of Antioch_PG 77,132'>John of Antioch_PG 77,132</option>
<option  value='John of Damascus_PG 94-96'>John of Damascus_PG 94-96</option>
<option  value='Josephus Genesius_PG 109,111'>Josephus Genesius_PG 109,111</option>
<option  value='Julius Africanus_PG 10'>Julius Africanus_PG 10</option>
<option  value='Laonicus Chalcocondylus_PG 159'>Laonicus Chalcocondylus_PG 159</option>
<option  value='Leo Diaconus_PG 117'>Leo Diaconus_PG 117</option>
<option  value='Leo Grammaticus_PG 108,120'>Leo Grammaticus_PG 108,120</option>
<option  value='Leo Presbyter_PG 120'>Leo Presbyter_PG 120</option>
<option  value='Leontius Byzantinus _PG 86a-86b'>Leontius Byzantinus _PG 86a-86b</option>
<option  value='Macarius of Egypt_PG 34'>Macarius of Egypt_PG 34</option>
<option  value='Marcellus Ancyranus_PG 18'>Marcellus Ancyranus_PG 18</option>
<option  value='Marcus Diaconus_PG 65'>Marcus Diaconus_PG 65</option>
<option  value='Maximus Confessor_PG 90-91'>Maximus Confessor_PG 90-91</option>
<option  value='Melito of Sardis_PG 05'>Melito of Sardis_PG 05</option>
<option  value='Michael Attaliates_PG 127'>Michael Attaliates_PG 127</option>
<option  value='Michael Glyca_PG 158'>Michael Glyca_PG 158</option>
<option  value='Michael Psellus_PG 122'>Michael Psellus_PG 122</option>
<option  value='Nemesius Emesenus_PG 40'>Nemesius Emesenus_PG 40</option>
<option  value='Nicephorus Bryennius_PG 127'>Nicephorus Bryennius_PG 127</option>
<option  value='Nicephorus Gregoras_PG 148-149'>Nicephorus Gregoras_PG 148-149</option>
<option  value='Nicephorus Patriarch of Constantinople_PG 100'>Nicephorus Patriarch of Constantinople_PG 100</option>
<option  value='Nicephorus Phokas_PG 117'>Nicephorus Phokas_PG 117</option>
<option  value='Nicetas Acominatus (Choniatis)_PG 139-140'>Nicetas Acominatus (Choniatis)_PG 139-140</option>
<option  value='Nonnos_PG 43'>Nonnos_PG 43</option>
<option  value='Oecumenius_PG 118-119'>Oecumenius_PG 118-119</option>
<option  value='Olympiodus Deacon of Alexandria_PG 93'>Olympiodus Deacon of Alexandria_PG 93</option>
<option  value='Origenes_PG 11-17'>Origenes_PG 11-17</option>
<option  value='Palladius Helenopolitanus_PG 34,65'>Palladius Helenopolitanus_PG 34,65</option>
<option  value='Papias_PG 05'>Papias_PG 05</option>
<option  value='Paulus Silentarius_PG 86b'>Paulus Silentarius_PG 86b</option>
<option  value='Peter of Alexandria_PG 18'>Peter of Alexandria_PG 18</option>
<option  value='Phileas Thmuitanus_PG 10'>Phileas Thmuitanus_PG 10</option>
<option  value='Philostrogius_PG 65'>Philostrogius_PG 65</option>
<option  value='Photius of Constantinople_PG 101-104'>Photius of Constantinople_PG 101-104</option>
<option  value='Polycarpus Smyrnaeus_PG 05'>Polycarpus Smyrnaeus_PG 05</option>
<option  value='Polycrates Ephesinus_PG 05'>Polycrates Ephesinus_PG 05</option>
<option  value='Proclus_PG 65'>Proclus_PG 65</option>
<option  value='Procopius Caesariensis_PG 89'>Procopius Caesariensis_PG 89</option>
<option  value='Procopius of Gaza_PG 87a-87c'>Procopius of Gaza_PG 87a-87c</option>
<option  value='Serapion_PG 40'>Serapion_PG 40</option>
<option  value='Severianus_PG 65'>Severianus_PG 65</option>
<option  value='Shepherd of Hermas_PG 02'>Shepherd of Hermas_PG 02</option>
<option  value='Socrates and Sozomenus Scholasticus_PG 67'>Socrates and Sozomenus Scholasticus_PG 67</option>
<option  value='Symeon Magistrus_PG 109'>Symeon Magistrus_PG 109</option>
<option  value='Symeon Thessalonicensis Archiepiscopus_PG 155'>Symeon Thessalonicensis Archiepiscopus_PG 155</option>
<option  value='Symeonis Junioris_PG 120'>Symeonis Junioris_PG 120</option>
<option  value='Tatian_PG 06'>Tatian_PG 06</option>
<option  value='Theodoretus of Cyrrhus_PG 80-84'>Theodoretus of Cyrrhus_PG 80-84</option>
<option  value='Theodorus Heracleensis_PG 18'>Theodorus Heracleensis_PG 18</option>
<option  value='Theodorus Prodromus_PG 133'>Theodorus Prodromus_PG 133</option>
<option  value='Theodorus Studita_PG 99'>Theodorus Studita_PG 99</option>
<option  value='Theodorus_PG 86a'>Theodorus_PG 86a</option>
<option  value='Theodosius the Deacon_PG 113'>Theodosius the Deacon_PG 113</option>
<option  value='Theofilus Alexandrinus_PG 65'>Theofilus Alexandrinus_PG 65</option>
<option  value='Theofilus Antiochieus_PG 06'>Theofilus Antiochieus_PG 06</option>
<option  value='Theofilus Caesarea Palaestina_PG 05'>Theofilus Caesarea Palaestina_PG 05</option>
<option  value='Theophanes Abbot and Confessor_PG 108'>Theophanes Abbot and Confessor_PG 108</option>
<option  value='Theophanes Kerameus_PG 132'>Theophanes Kerameus_PG 132</option>
<option  value='Theophylactus Simocatta_PG 98,113'>Theophylactus Simocatta_PG 98,113</option></select>
<input type="hidden" name="sfolder" value="ancient-pgm" id="sword">
  <input type="submit" value="Submit">
  </form>
  <b>example words: </b>Ναρσῆς αὐτοκράτωρ<br>
  <b>Alfabet: 


<span onclick="writeChar(this)" onmouseover="showChar(this)">Α</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἅ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἀ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἄ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">α</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὰ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ά</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἁ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἀ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἅ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἄ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἃ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἇ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἆ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾶ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾷ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾴ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Β</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">β</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Γ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">γ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Δ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">δ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ε</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἔ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἑ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἐ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ε</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὲ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">έ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἑ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἐ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἕ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἔ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ζ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ζ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Η</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἦ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">η</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὴ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ή</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἡ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἠ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἥ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἤ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἢ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἧ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἦ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῆ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῇ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾖ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Θ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">θ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ι</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἰ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ἱ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ι</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὶ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ί</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἱ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἰ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἵ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἴ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῖ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἷ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ἶ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ϊ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Κ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">κ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Λ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">λ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Μ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">μ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ν</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ν</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ξ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ξ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ο</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὁ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὅ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ο</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὸ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ό</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὁ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὀ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὅ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὄ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Π</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">π</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ρ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ῥ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ῥ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ρ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Σ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">σ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ς</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">T</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">τ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Υ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὑ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">υ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὓ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῦ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὕ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὺ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ύ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὑ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὐ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὔ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὗ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὖ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Φ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">φ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Χ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">χ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ψ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ψ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ω</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὠ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὢ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὧ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">Ὡ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ω</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὼ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ώ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὡ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὠ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὥ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὤ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὢ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῶ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῷ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾧ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὧ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ὦ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ῳ</span>
<span onclick="writeChar(this)" onmouseover="showChar(this)">ᾤ</span>

<script>
"changeText1(this)"

function showChar(id) {
    
document.getElementById("divchar").innerHTML = id.innerHTML;  
}
function writeChar(id) {
    
 document.getElementById("sword").value =document.getElementById("sword").value + id.innerHTML; 
  
}
</script>


<iframe id='myframe' src="home/home.html" name="SHOW" scrolling="no" frameBorder="0" style="width: 100%; height: 1111111px">
	</iframe>
</body>
